/* 🔴 Робимо червоними всі посилання, які починаються з "https" */
a[href^="https"] {
    color: red;
}

/* 🔠 Змінюємо розмір шрифту для <p>, який іде відразу після <ul> */
ul+p {
    font-size: 24px;}
        :root {
            --primary-color: #ff5733;
            /* основний колір */
            --secondary-color: #33c4ff;
            /* додатковий колір */
            --background-color: #f1f1f1;
            /* фон */
            --text-color: #333333;
            /* текст */
        }
                body {
                    background-color: var(--background-color);
                    color: var(--text-color);
                }
        
                h1 {
                    color: var(--primary-color);
                }